.CPNewsTicker {
                       border: 1px solid #C20;
                       font-family: Arial, sans-serif;
                        font-size: 14px;
	                   /*margin: 50px 0;*/
	                    font-style: italic;
	                    position: relative;
	                    padding: 0 0 0 120px;
	                    box-shadow: 0 2px 5px -3px #000;
	                    border-radius: 3px;
                }
.CPNewsTicker:before {
                        content: "Latest News";
	                    display: inline-block;
	                    font-style: normal;
	                    background: #C20;
	                    padding: 10px;
	                    color: #FFF;
	                    font-weight: bold;
	                    position: absolute;
	                    top: 0;
	                    left: 0;
                        height: auto;
               }
.CPNewsTicker:after {
                        content: '';
                        display: block;
                        top: 0;
                        left: 80px;
                        background: linear-gradient(#FFF, rgba(255, 255, 255, 0));
                        height: 20px;
               }
.CPNewsTicker ul li {
                        list-style: none;
                        padding: 10px 0;
                }  
.CPNewsTicker a {
                        text-decoration: none;
                }  
